<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	    <title>Hiring Project</title>
  <meta name="description" content="Find the best fit for video uploads and learn how to exchange video with teams both on and off Hudl." />
	<meta name="google-site-verification" content="JnO7GvKro5J6TntwWK_UhQLHzJaXY2h7Yy4wByqN1mk" />
	<meta name="Copyright" content="Hudl" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="fb:pages" content="112477931222" />
	<link rel="home" href="/" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet">
	<link rel="dns-prefetch" href="https://static.hudl.com">
	<link rel="dns-prefetch" href="https://sc.hudl.com">
	<link rel="apple-touch-icon" sizes="180x180" href="https://static.hudl.com/craft/icons/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="https://static.hudl.com/craft/icons/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://static.hudl.com/craft/icons/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="https://static.hudl.com/craft/icons/favicons/manifest.json">
	<link rel="mask-icon" href="https://static.hudl.com/craft/icons/favicons/safari-pinned-tab.svg" color="#ff6200">
	<link rel="shortcut icon" href="https://static.hudl.com/craft/icons/favicons/favicon.ico">
	<meta name="theme-color" content="#ffffff">
  <link type="text/css" rel="stylesheet" href="https://sc.hudl.com/cms/assets/styles/external/remodal.css">
  <link type="text/css" rel="stylesheet" href="https://sc.hudl.com/cms/assets/styles/external/remodal-theme.css">
	<link type="text/css" rel="stylesheet" href="https://sc.hudl.com/cms/assets/styles/styles-0a241c6672.css">
	<link type="text/css" rel="stylesheet" href="https://sc.hudl.com/cms/assets/styles/builders/blog-builder-fb24804c83.css">
  <link type="text/css" rel="stylesheet" href="https://sc.hudl.com/cms/assets/styles/support/guides/guides-9af1be160a.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  {% includeCssFile '/assets/css/compiled.css' %}
  {% includeCssFile '/assets/css/font-awesome/font-awesome.min.css' %}

</head>

<body>
  {% block content %}
    <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
    <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  {% endblock %}

  <!-- <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js?ver=1.0'></script> -->
  <!-- {% includeJsFile 'assets/js/bootstrap.min.js' %} -->
  {% includeJsFile '/assets/js/_stickySideNav.js'%}
</body>

</html>
